<h1>Student Form</h1>

<%= form_tag students_path do %>
<label for="">Student first name:</label><br>
<%= text_field_tag :'student[first_name]'%><br>
<label for="">Student last name:</label><br>
<%= text_field_tag :'student[last_name]'%><br>
<%= submit_tag "Submit Student" %>
<% end %>